*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

} 
body{
  font-family: 'Noto sans khmer';
  background-color: rgb(23, 60, 78);
  color: rgb(153, 142, 127);
  line-height: 1.6;

}
header{
    background-color: rgb(25, 99, 148);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
   text-decoration: underline;
   font-size: 20px;
}
h1{
 font-size: 2.5rem;

}
.hero{
    background: url('https://file3.qdnd.vn/data/images/27/2022/05/06/duyhoan_kh/cang_bien_campuchia.jpg');
    
    color: white;
    text-align: center;
    padding: 100px 20px;
    text-shadow: 2px 2px 8px black;
}
.hero h2{
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.btn
{
    background-color: rgb(50, 136, 153);
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 100px;
  
    
}
.btn:hover {
    background-color: rgb(101, 60, 3);
    transform: translateY(-4px);
}
.aa{
   background-color: rgb(56, 132, 198);
   color: white;
   padding: 20px;
   font-size: 1.1em;
   margin: 20px;
   border-radius: 20px;
   border: 3px solid black;
}
.bb{
  text-align: center;
  background-color: rgb(41, 43, 45);
 margin: 20px;

}
.number{
   display: flex;
  justify-content: center;
   align-items: center;
   gap: 30px;
   flex-wrap: wrap;
   margin: 0px;
}
.num{
    width: 100px;
    height: 100px;
    background-color: rgb(22, 107, 164);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;

}
.shop{
  
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 20px;
  margin: 30px auto;
  max-width: 900px;

}
.hang {
    background-color: rgb(41, 107, 173);
    color: antiquewhite;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 10px black;

}
.copy{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
@media(max-width:  600px){
    .number{
        flex-direction: column;
    }
    .shop{
        grid-template-columns: 1fr;
    }
    .hero h2{
        font-size: 2rem;
    }
}
